@using FarmaciaApp.Interfaces;
@model ProdutoViewModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.Taghelpers
@inject IProdutosRepository repo


<h1>Cadastro de Produto</h1>
<hr />

<div class="row">
    <div class="col-6">

        <div class="card">

            <div class="card-header">
                <h5>Cadastrar novo produto</h5>

            </div>

            <div class="card-body">
                <form asp-asp-controller="Produto" asp-action="Create" method="post">
                    <div class="mb-3">
                        <label class="form-label">Nome Produto</label>
                        <input asp-for="Nome" type="text" class="form-control"/>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Qtd</label>
                        <input asp-for="Qtd" type="number" class="form-control"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Preço</label>
                        <input asp-for="Preco" type="number" class="form-control" />
                    </div>

                    <div class="mb-3">
                        <button type="submit" value="Incluir" class="btn btn-primary">Salvar</button>
                    </div>
                </form>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nome</th>
                            <th>Qtd</th>
                            <th>Preco</th>
                        </tr>
                    </thead>
                    <tdoby>
                        @foreach (var produto in repo.GetAll())
                        {
                            <tr>
                                <td>@produto.Id</td>
                                <td>@produto.Nome</td>
                                <td>@produto.Qtd</td>
                                <td>@produto.Preco</td>
                            </tr>
                        }
                    </tdoby>

                </table>

            </div>

            <div class="card-footer">

            </div>

        </div>
        
    </div>

</div>