@model ProdutoViewModel

<h1>Cadastro de Produto</h1>
<hr />

<div class="row">
    <div class="col-6">

        <div class="card">

            <div class="card-header">
                <h5>Cadastrar novo produto</h5>

            </div>

            <div class="card-body">
                <form asp-asp-controller="Home" asp-action="CreateProduto" method="post"> 
                    <div class="mb-3">
                        <label class="form-label">Nome Produto</label>
                        <input asp-for=Nome type="text" class="form-control"/>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Preço</label>
                        <input asp-for=Preco type="number" class="form-control"/>
                    </div>

                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>

            </div>

            <div class="card-footer">

            </div>

        </div>
        
    </div>

</div>