@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem-vindo!</h1>
    <p>
        <a>Farmácia Mais Saúde, seu aplicativo para compra de remédios e produtos farmaceuticos. Rápido e seguro!</a>
    </p>
    <figure>
        <!--O Logo não é nosso, apenas baixamos da internet para para o projeto.-->
        <img src="~/img/mais_farmacia.png"  alt="Logo da Farmácia Mais Saúde"/>        
    </figure>
    
</div>
