@{
    ViewData["Title"] = "Projeto";
}
<h1>@ViewData["Title"]</h1>

<p class="mainText">Projeto criado exclusivamente para o Tech Challenge da Fase 1 do Curso: Arquitetura de Sistemas .Net com Azure.</p>
<p>Alurnos do Grupo 21:</p>
<ul>
    <li>Joaquim Ferreira Filho</li>
    <img class="mainImage" src="~/img/joaquim_01.png" alt="Foto Joaquim"/>
    <li>João Victor Carneiro Aureliano</li>
    <img class="mainImage" src="~/img/joao_01.png" alt="Foto João" />
</ul>


