@{
    ViewData["Title"] = "Confirmar Exclusão de Produto";
}
<div class="text-center">
    
    <h3>Realmente deseja excluir o produto (Anador)?</h3>
    <br />
    <div class="d-grid gap-2">
        <a class="btn btn-primary" role="button" asp-controller="Produtos" asp-action="Index">Cancelar Exclusão</a>
        <a class="btn btn-danger" role="button" asp-controller="Produtos" asp-action="Apagar">Confirmar Exclusão</a>
    </div>
</div>

